.sec-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.sec-8-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-8-1 > :first-child {
    font-weight: 600;
    font-size: 30px;
}

.sec-8 > :nth-child(2) {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 600;
}

.menu-bar1 {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.sec-8 li a {
    text-decoration: none;
    font-size: 30px;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
}

.sec-8 li a:hover {
    color: lightblue;
}

.sec-8 span {
    color: black;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    padding: 10px;
    display: block;
}

/* Tablet */
@media (max-width: 1024px) {
    .sec-8 {
        padding-top: 100px;
        margin-top: 100px;
    }

    .sec-8 > :nth-child(2) {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 600;
    }

    .sec-8-2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        border: 2px solid black;
        padding: 20px;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .sec-8-1 {
        gap: 30px;
        display: grid;
        grid-template-columns: auto auto;
    }

    .sec-8 > :nth-child(2) {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 600;
    }

    .menu-bar1 {
        flex-direction: column;
        font-size: 15px;
        gap: 30px;
    }

    .menu-bar1 li a {
        font-size: 20px;
    }

    .sec-8 span {
        font-size: 20px;
        font-weight: 450;
        padding: 10px;
    }
}
@media (max-width: 873px) {
  .menu-bar1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }

  .menu-bar1 li a {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: black;
    transition: color 0.3s;
  }

  .menu-bar1 li a:hover {
    color: lightblue;
  }

  .sec-8 span {
    font-size: 20px;
    font-weight: 450;
    text-align: center;
    padding: 10px;
    display: block;
  }
}

